::placeholder {
    color:black
}
.Career input[type=text]:focus {

   background-color:rgba(35, 35, 35, 0);
   outline: none;
   border:none
}
.Career {
   padding: 20px 0px 20px 20px;
   display:flex;
   flex-direction: column;
  
  
   align-items: flex-start;
  
    
}
.name, .job , .career {
    padding:0 ;
    margin:0;
    font-family: Raleway;
     
}

.name {
    font-size: 70px;
    border:0;
    width:500px;
    font-weight: bold;
    margin-left:0;
  
}
.name:hover , .job:hover {
    background-color: rgb(246, 246, 246);
}
.job {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:50px;
    width:450px;
    border:0;
}

h4 {
    font-size : 30px;
  
   
}

.Job-title{
margin:0;
padding:0;
  justify-content: left;
  display:flex;
}

.Intro {
  width:80vh;

   display:flex;

   
    padding-top:60px;
    border-bottom:solid black 1px;
    margin:0;
   
    




}

.Intro h4 {
    margin:0
}



.cjob {
    background-color: rgb(253, 253, 253);
margin-bottom:10px;
margin-top:10px;
padding:0;


width:400px;

}
.cjob button {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(99, 171, 226);
    color:rgb(255, 255, 255);
    font-weight: bold;
    border:none
}

.cjob button:hover {
opacity:0.5
}

.c-first-line {
    color:black;
    display:flex;
   
    align-items: centers;
    padding:0;
    margin:0;
    height:20px;
}

.jcompany {
    margin-right:230px;
    font-weight: bold;
   
    
}
.jfromto {
    margin-right:10px;
    font-weight: bold;
}

.c-first-line button {

    display:flex;
    justify-content: center;
    border-radius: 40px;
    width:20px;
    height:20px;
    margin-top:15px;
}

.c-second-line {
    display:flex;
    padding-bottom:10px;
    margin:0;
    height:20px;
    color:rgb(101, 101, 101);
    font-weight: bolder;
}
.c-third-line  {
   
    width:380px;
    display:flex;
    justify-content:left;
    color:rgb(163, 163, 163);
    font-weight: bolder;
}



.c-fourth-line {
    font-style: italic;
    color:rgb(74, 74, 74);
    font-weight: bolder;
    
 
    display:flex;
    border-bottom: 3px dotted black;
    
   
}
@media (max-width:1000px) {
    .name {
        width:300px;
        font-size:20px
    }
    .job {
        width: 300px;
       padding:0;
    }
    .job ,.career {
        font-size:20px;
    }
    .Intro {
      width:200px;
        margin-top: 10px;
        padding:0;
    }
     .Intro h4 {
        padding:0;
        margin:0;
        font-size:15px;
       
       
     }

     .cjob {
        width: 280px;
       
        font-size:70%;
        padding:0;
        margin:0;
     }
     .jcompany {
        margin-right: 50%;
     }
     .c-first-line button {
        height: 70%;
        width:5%;
        margin-top: 7px;

        font-size: smaller;
     }

     .c-third-line {
        width: 80%;
       
     justify-items: flex-start;
     }
    



    
}

@media (max-width:700px) {
    .name {
        width:200px;
        font-size:20px
    }
    .job {
        width: 200px;
       
    }
    .job , .career {
        font-size:10px; 
    }
    .Intro h4 {
        font-size:15px;
    }
    .Intro {
        width: 20vh;
     }

     .cjob {
       
      
        font-size:50%;
        padding:0;
        margin:0;
     }
    
}

@media (max-width:500px) {
    .name {
        font-size:25px;
        width:150px;
    }
    .job {
        width: 100px;
    }
    .job ,.career {
        font-size:10px;
    }
    .Intro {
        width: 15vh;
     }
     .cjob {
      
       
      
        font-size:40%;
        padding:0;
        margin:0;
     }
    
}

