.App {
  font-family: 'Raleway', sans-serif;
  display:flex ;
 
  text-align: center;
  border:0.2vh solid rgb(0, 0, 0);
 border-radius: 2vh;
  background-color: rgb(255, 255, 255);
  
  margin:5vh 20vh 5vh 20vh;
}
body {
  background-image: url('https://stories.isu.pub/75957718/images/6_original_file_I0.png');
  -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;


  justify-content:center;
  display:flex;

}
.addJob {
top:80%;
left:68%;
  display:flex;
  flex-direction: row;
position:fixed;
  align-items:center;
 justify-content: right;
 right:20%;
 gap:1vw;
 width:30vw;

}
.addJob p {
  color: black;
  font-weight:bold;
  text-shadow:  3px  black;
  font-size:15px;
  
}

.addJob button {
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f3f3;
  color:#000000;
 text-shadow: 0.3vh 0.3vh black;
 border:0.5vh dashed rgb(0, 0, 0) ;
  border-radius: 20vh;
  height:15vh;
  width:15vh;
  font-size: 10vh;
  font-weight: 1000;
}
.addJob p {
background-color: rgb(106, 188, 228);
color:white;
border:0.3vh solid black;
font-size:3vh;
}



.Date {
  color:white;
}

@media (max-width:800px) {
  .addJob {
    visibility: hidden;
  }
}



  



