::placeholder {
    color:black
}
.Career input[type=text]:focus {

   background-color:rgba(35, 35, 35, 0);
   outline: none;
   border:none
}
.Career {
   padding: 2vw 0px 2vw 2vw;
   display:flex;
   flex-direction: column;

  
   align-items: flex-start;
  
    
}
.name, .job , .career {
 
    padding:0 ;
    margin:0;
    font-family: Raleway;
     
}

.name {

    font-size: 4vw;
    border:0;
   
    font-weight: bold;
  
}
.name:hover , .job:hover {
    background-color: rgb(246, 246, 246);
}
.job {
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:3vw;
 
    border:0;
}

h4 {
    font-size : 2vw;

   
}

.Job-title{
margin:0;
padding:0;
  justify-content: left;
  display:flex;
}

.Intro {
  width:40vw;

   display:flex;
gap:2px;
 align-items: center;
    padding-top:1vw;
    border-bottom:solid black 0.2vh;
    margin:0;
   
    




}
.Intro button {
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    color:#000000;

   border:0.05vw solid rgb(0, 0, 0) ;
    border-radius: 100px;
    height:2vw;
    width:2vw;
    font-size: 5vw;
    font-weight: 1;
 visibility: hidden;
}

.Intro h4 {
    margin:0
}



.cjob {

    background-color: rgb(255, 255, 255);
margin-bottom:2vh;
margin-top:2vh;
padding:0;


width:40vw;

}
.cjob button {
    
    display:flex;
    justify-content: center;
    align-items: center;
  
    background-color: rgb(99, 188, 226);
    color:rgb(255, 255, 255);
    font-weight: bold;
    border:none;
    
}

.cjob button:hover {
opacity:0.5
}

.c-first-line {
    color:black;
    display:flex;
    font-size:1.5vw;
    align-items: centers;
    padding:0;
    margin:0;

}

.jcompany {
    margin-right:16vw;
    font-weight: bold;
   
    
}
.jfromto {
   margin-left:5vw;
 
    margin-right:1vw;
    font-weight: bold;
}

.c-first-line button {
   font-size: 1vw;
    display:flex;
    justify-content: center;
    border-radius: 3vw;
    width:2vw;
    height:2vw;
    margin-top:1.5vw;
}

.c-second-line {
    display:flex;
    padding-bottom:2vw;
    font-size:1.2vw;
    margin:0;
    height:2vw;
    color:rgb(101, 101, 101);
    font-weight: bolder;
}
.c-third-line  {
    background-color: rgb(249, 249, 249);
    font-size: 1.5vw;
    width:36vw;
    display:flex;
    justify-content:left;
    color:rgb(163, 163, 163);
    font-weight: bolder;
}



.c-fourth-line {
    font-style: italic;
    color:rgb(74, 74, 74);
    font-weight: bolder;
    font-size: 1.5vw;
 
    display:flex;
    border-bottom: 0.5vh dotted black;
    
   
}
@media (max-width:500px) {
  
}
@media (max-width:800px) {
    .Intro button{
      visibility: visible;
    }
    
  }
  