
* {
    font-family: Raleway;

}
.contacts ::placeholder {
    color:white
}
.contacts input[type=text]:focus {
  outline:none;
    background-color: rgb(51, 51, 51);
}
.contacts input:hover {
  background-color:rgb(61, 61, 61)
}
.contacts input {
    background-color: black;
    border:none;
    color:rgb(249, 249, 249)
}

.contacts {
  
    background-color: black;
    height: auto;
 
    color:white;
    display:flex;
    flex-direction:column;
    align-items: center;

    
}

.contacts-image {
  position: relative;
  text-align: center;
  color: white;
  

}
.contacts-image:hover {
  opacity:0.5;
}


.contacts-image p {
 visibility: hidden;
 font-size:2vw;
  width:15vw;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
 
}


.picture {
  
  margin-bottom:2vw;
  margin-top:2vw;
display:grid;
    height: 15vw;
    width:15vw;
    overflow: auto;
    border-radius: 100%;
   
}



.contactMe {

    background-color:#0891b2;
    display:flex;
    margin-bottom:3vw;
    width:20vw;
    margin-right:3vw;
    margin-left:3vw;
    justify-content: center;
   align-items: center;

}

.contactMe p {
  font-size:3vw;


}
.allContacts {
  display:flex;
 flex-direction: column;
align-items: center;
margin-bottom:1vw;
margin-left:3vw;

}

.contacts-row {

display:flex;
justify-content: center;
align-items: center;

height:5vw;




    
    
   
   
}
.contacts-row input {
  width:15vw;
  height:5vw;
font-size:1.6vw;

}
svg {

margin:0;

}

@media(max-width:2000px) {
  .picture {
    height: 20vw;
    width:20vw;
  }
  
  .contacts-row input {
    font-size:2vw;
    width:20vw;

  }
  svg {
  height:4vw;
  margin:0;
  width:2vw;
  }
}